<h2 class="page-header" *ngIf="forProfile; else profile">Register</h2>
<ng-template #profile>
  <h2 class="page-header">Profile</h2>
</ng-template>
<div class="col-xs-5 col-md-5 col-sm-5 col-lg-5">
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" name="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="mobile">Mobile</label>
    <input id="mobile" type="text" class="form-control" name="mobile" [(ngModel)]="mobile" (keypress)="isNumber(event)" maxlength="10">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" [readonly]="!forProfile">
    <span style='color:blue' *ngIf="showDuplicateError">Email is already taken.</span>
  </div>
  <div class="form-group" *ngIf="forProfile">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value={{btnValue}}>
</form>
</div>