<div class="homeBody">
<div class="jumbotron text-center homeBody">
  <h1>Yogesh Vaddi</h1>
  <p class="lead">Hay! Happy to see you here. Welcome.</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
  
  </div>
</div>

<div class="row">
  <div class="col-md-4" id="firstDiv">
    <!-- <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p> -->
    <h3>Machilipatnam</h3>
    <p>Hails from Machilipatnam</p>
  </div>
  <div class="col-md-4">
    <h3>A Life Long Student</h3>
    <!-- <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p> -->
    <p>A person grows by learning.</p>
  </div>
  <div class="col-md-4">
    <h3>Aspiring Innovator</h3>
    <!-- <p>Full featured authentication using JSON web tokens. Login and store user data</p> -->
    <p>A person watches out in the world what he/she has in mind.</p>
  </div>
</div>
</div>